.top-container{
   background-color: #C3F8FF;
  /* height: 200px;
   width: 200px;
   padding: 20px;
   border: solid 10px;
   border-color: yellow;
   margin-top: 0px;

   */
   padding-top: 100px;
}
.intro
{
    width: 30%;
    margin: auto;
}
body
{ 
    color: #40514E;
    margin: 0;
    text-align: center;
    
}
h1{
    margin: 0;
    color: #66BFBF;
   font-family: 'Permanent Marker', cursive;
   font-size: 3.125rem;
   margin-top: 30px;
   
}
p{
    line-height: 2;
}
h2
{ color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
    color: #11999E;
}
.middle-container
{

}
.bottom-container{
   
}
.pro
{
    text-decoration: underline;
}
.bottom{
    position: absolute;
    left: 400px;
}
.top{
    position: relative;
    left: 250px;
    bottom: 50px;
}
.pic
{
    margin-top: 50px;
   height: 200px; 
   
}
.skill-row{
    width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
}
.img1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.img2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
/*.p1{
 clear: left;
}
.p2{
    clear: right;
}*/
.bottom-container{
    background-color: #66BFBF;
    padding: 30px;
}
.contact-me{
    margin-bottom: 100px;
}
.footer-link{
    color: #11999E;
}
hr{
    border-top: 5px dotted gray;
    width: 2%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.contact{
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
}
.btn {
    background: #34d9bb;
    background-image: -webkit-linear-gradient(top, #34d9bb, #2bb832);
    background-image: -moz-linear-gradient(top, #34d9bb, #2bb832);
    background-image: -ms-linear-gradient(top, #34d9bb, #2bb832);
    background-image: -o-linear-gradient(top, #34d9bb, #2bb832);
    background-image: linear-gradient(to bottom, #34d9bb, #2bb832);
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    font-family: Courier New;
    color: #fafafa;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cfc3f;
    background-image: -webkit-linear-gradient(top, #3cfc3f, #9f34d9);
    background-image: -moz-linear-gradient(top, #3cfc3f, #9f34d9);
    background-image: -ms-linear-gradient(top, #3cfc3f, #9f34d9);
    background-image: -o-linear-gradient(top, #3cfc3f, #9f34d9);
    background-image: linear-gradient(to bottom, #3cfc3f, #9f34d9);
    text-decoration: none;
  }
  a{
    margin: 10px 5px 10px 5px;
    text-decoration: none;
  }
  a:hover{
    color: wheat;
  }
  .copy{
    color:white;
  }